{% extends 'base.html.twig' %}

   {% block content %}
<div class="wrap-breadcrumb parallax-breadcrumb">
    <div class="container"></div>
</div>

<!-- ======= Quick view JS ========= -->

       <div id="primary" class="content-area">
           <main id="main" class="site-main" role="main">

               <article id="post-21" class="post-21 page type-page status-publish hentry">

                   <div class="entry-content">
        <div class="main-slider">

            <div class="swiper-viewport">
                <div id="slideshow0" class="swiper-container">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide text-center"><a href="#"><img
                                        src="image/catalog/slide2.jpg" alt="Main Banner1" class="img-responsive"/></a></div>

                    </div>
             
                    <div class="swiper-pagination slideshow0"></div>
                    <div class="swiper-pager">
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>

            <div id="czcategorylistblock" class="czcategory_listblock">
                <div class="czcategory_block">
                    <div class="customNavigation"><a class="btn prev category_prev">&nbsp;</a> <a
                                class="btn next category_next">&nbsp;</a></div>

                </div>
            </div>

        </div>
    </div>
               </article>
           </main>
       </div>
    <div class="row home_row">
        <div id="content" class="col-sm-12">
            <div id="czaboutcmsblock" class="about-cms-block">
                <div class="container aboutus-container">
                    <div class="about-store">
                        <div class="about-store-inner">
                            <div class="left-part">
                                <div class="about-image">
                                    <div class="left-image top">
                                        <div class="leftbanner aboutcms-image1  animation-element slide-left aboutcms"><a href="#" class="banner-anchor"><img src="image/catalog/aboutcms1.jpg" alt="about-store1" title="about-store1"></a></div>
                                        <div class="leftbanner aboutcms-image2  animation-element slide-left aboutcms"><a href="#" class="banner-anchor"><img src="image/catalog/aboutcms2.jpg" alt="about-store2" title="about-store2"></a></div>
                                    </div>
                                    <div class="left-image bottom">
                                        <div class="leftbanner aboutcms-image3 animation-element slide-left aboutcms"><a href="#" class="banner-anchor"><img src="image/catalog/aboutcms3.jpg" alt="about-store3" title="about-store3"></a></div>
                                        <div class="leftbanner aboutcms-image4 animation-element slide-left aboutcms"><a href="#" class="banner-anchor"><img src="image/catalog/aboutcms4.jpg" alt="about-store4" title="about-store4"></a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="right-part">

                                <div class="title">Nos Services</div>
                                <div class="storedetail"><span>Assurez une visibilité pour votre projet ou donnez-lui un nouveau souffle.</span>
                                    <br>Carré pub vous guide et vous oriente pour mettre de la lumière sur vos projet
                                </div>
                                <div class="shop now"><a class="shop-now" href="#">Plus de Détails</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hometab box">
                <div class="container">
                    <div class="tab-head">
                        <div class="hometab-heading box-heading">New Products</div>
                        <div id="tabs" class="htabs">
                            <ul class='etabs'>
                                <li class='tab'>
                                    <a href="#tab-latest">New Arrival</a>
                                </li>
                                <li class='tab'>
                                    <a href="#tab-bestseller">Bestseller</a>
                                </li>
                                <li class='tab'>
                                    <a href="#tab-special">Special</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
 {% endblock %}
