<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html dir="ltr" lang="en" class="ie8"><![endif]-->
<!--[if IE 9 ]>
<html dir="ltr" lang="en" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="ltr" lang="en">
<!--<![endif]-->

<!-- Mirrored from demo.codezeel.com/opencart/OPC07/OPC070164/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 12 Dec 2019 20:14:24 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8"/><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CarrePub</title>
    <base/>
    <meta name="description"
          content="Stable Modern Furniture Store opencart Responsive Theme is designed for furniture, wood, timber, home decor, craft, table, chair, art, light, handicraft, antique, kitchen, appliance, accessories, fashion, jewelry, minimal and multi purpose stores. This Theme is looking good with colors combination. It is very nice with its clean and professional look."/>
    <meta name="keywords"
          content="furniture, wood, timber, home decor, craft, table, chair, art, light, handicraft, antique, kitchen, appliance, accessories, fashion, jewelry"/>


    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800" rel="stylesheet">

    <link href="style.html" type="text/css" rel="style.rel" media="style.media"/>
    <link href="style.html" type="text/css" rel="style.rel" media="style.media"/>


    <link href="image/catalog/cart.png" rel="icon"/>
    <!-- Codezeel www.codezeel.com - Start -->
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body class="common-home layout-1">
<nav id="top">
    <div class="container">
        <div id="cznavcmsblock">
            <div class="welcome_text">1st Time Buyer? Use "ONE" promocode to instantly get 10% OFF!</div>
        </div>
        <div id="top-links" class="nav pull-left">
            <div class="lang-curr">
                <div class="pull-left">
                    <form action="https://demo.codezeel.com/opencart/OPC07/OPC070164/index.php?route=common/language/language"
                          method="post" enctype="multipart/form-data" id="form-language">
                        <div class="btn-group">
                            <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">

                                <img src="catalog/language/en-gb/en-gb.png" alt="English" title="English">
                                <span class="hidden-xs hidden-sm hidden-md">Language</span>&nbsp;<i
                                        class="fa fa-angle-down"></i></button>
                            <ul class="dropdown-menu language-menu">
                                <li>
                                    <button class="btn btn-link btn-block language-select" type="button" name="en-gb">
                                        <img src="catalog/language/en-gb/en-gb.png" alt="English" title="English"/>
                                        English
                                    </button>
                                </li>
                                <li>
                                    <button class="btn btn-link btn-block language-select" type="button" name="ar"><img
                                                src="catalog/language/ar/ar.png" alt="Arabic" title="Arabic"/> Arabic
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <input type="hidden" name="code" value=""/>
                        <input type="hidden" name="redirect"
                               value="https://demo.codezeel.com/opencart/OPC07/OPC070164/index.php?route=common/home"/>
                    </form>
                </div>

                <div class="pull-left">
                    <form action="https://demo.codezeel.com/opencart/OPC07/OPC070164/index.php?route=common/currency/currency"
                          method="post" enctype="multipart/form-data" id="form-currency">
                        <div class="btn-group">
                            <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                <strong>$</strong>

                                <span class="hidden-xs hidden-sm hidden-md">Currency</span>&nbsp;<i
                                        class="fa fa-angle-down"></i></button>
                            <ul class="dropdown-menu currency-menu">
                                <li>
                                    <button class="currency-select btn btn-link btn-block" type="button" name="EUR">€
                                        Euro
                                    </button>
                                </li>
                                <li>
                                    <button class="currency-select btn btn-link btn-block" type="button" name="GBP">£
                                        Pound Sterling
                                    </button>
                                </li>
                                <li>
                                    <button class="currency-select btn btn-link btn-block" type="button" name="USD">$ US
                                        Dollar
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <input type="hidden" name="code" value=""/>
                        <input type="hidden" name="redirect"
                               value="https://demo.codezeel.com/opencart/OPC07/OPC070164/index.php?route=common/home"/>
                    </form>
                </div>

            </div>
        </div>

    </div>
</nav>

<div class="header-container">
    <header>
        <div class="container">
            <div class="row">
                <div class="header-main">

                    <div class="header-logo">
                        <div id="logo">
                            <a href="index9328.html?route=common/home"><img src="image/catalog/CP-LOGO2.png" title="CarrePub" alt="Stable - Modern Furniture Store" class="img-responsive"/></a></div>
                    </div>
                    <div class="header-cart">
                        <div id="cart" class="btn-group btn-block">
                            <span class="cart_heading" data-toggle="dropdown">My Cart</span>
                            <button type="button" data-toggle="dropdown" data-loading-text="Loading..."
                                    class="btn btn-inverse btn-block btn-lg dropdown-toggle"><i
                                        class="fa fa-shopping-cart"></i><span id="cart-total">0</span></button>
                            <ul class="dropdown-menu pull-right cart-menu">
                                <li>
                                    <p class="text-center">Your shopping cart is empty!</p>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="dropdown myaccount">
                        <a href="indexe223.html?route=account/account" title="My Account" class="dropdown-toggle"
                           data-toggle="dropdown">
                            <span class="hidden-xs hidden-sm hidden-md">My Account</span><i class="fa fa-angle-down"
                                                                                            aria-hidden="true"></i></a>
                        <ul class="dropdown-menu dropdown-menu-right myaccount-menu">
                            <li><a href="index5502.html?route=account/register">Register</a></li>
                            <li><a href="indexe223.html?route=account/login">Login</a></li>
                            <li><a href="indexe223.html?route=account/wishlist" id="wishlist-total"
                                   title="Wish List (0)">Wish List (0)</a></li>
                            <li><a href="index630e.html?route=checkout/cart" title="Shopping Cart">Shopping Cart</a>
                            </li>
                            <li><a href="index630e.html?route=checkout/checkout" title="Checkout">Checkout</a></li>
                        </ul>
                    </div>

                    <div id="search" class="input-group">
                        <span class="search_button"></span>
                        <div class="search_toggle">
                            <div id="searchbox">
                                <input type="text" name="search" value="" placeholder="Search Products Here"
                                       class="form-control input-lg"/>
                                <span class="input-group-btn">
				<button type="button" class="btn btn-default btn-lg">Search<i class="fa fa-search"></i></button>
				</span>
                            </div>
                        </div>
                    </div>

                    <div class="head-right-bottom">

                        <nav class="nav-container" role="navigation">
                            <div class="container">

                                <div class="nav-inner">
                                    <!-- ======= Menu Code START ========= -->
                                    <!-- Opencart 3 level Category Menu-->
                                    <div id="menu" class="main-menu" style="display: block">

                                        <ul class="nav navbar-nav">

                                            <li class="top_level home"><a href="#">Accueil</a></li>
                                            <li class="top_level dropdown"><a
                                                        href="index98dc.html?route=product/category&amp;path=20">Info</a>

                                                <div class="dropdown-menu megamenu column3">
                                                    <div class="dropdown-inner">
                                                        <ul class="list-unstyled childs_1">
                                                            <!-- 2 Level Sub Categories START -->
                                                            <li class="dropdown"><a
                                                                        href="indexf345.html?route=product/category&amp;path=20_27">Chairs</a>

                                                                <div class="dropdown-menu">
                                                                    <div class="dropdown-inner">
                                                                        <ul class="list-unstyled childs_2">
                                                                            <li>
                                                                                <a href="indexb0b2.html?route=product/category&amp;path=20_27_49">Aeron
                                                                                    Chair</a></li>
                                                                            <li>
                                                                                <a href="index17aa.html?route=product/category&amp;path=20_27_50">Cantilever
                                                                                    Chair</a></li>
                                                                            <li>
                                                                                <a href="index8a75.html?route=product/category&amp;path=20_27_51">Armchair</a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="index3b96.html?route=product/category&amp;path=20_27_52">Ball
                                                                                    Chair</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>

                                                            </li>
                                                            <!-- 2 Level Sub Categories END -->

                                                        </ul>
                                                        <ul class="list-unstyled childs_1">
                                                            <!-- 2 Level Sub Categories START -->
                                                            <li class="dropdown"><a
                                                                        href="indexd9fe.html?route=product/category&amp;path=20_26">Storage</a>

                                                                <div class="dropdown-menu">
                                                                    <div class="dropdown-inner">
                                                                        <ul class="list-unstyled childs_2">
                                                                            <li>
                                                                                <a href="index1cfb.html?route=product/category&amp;path=20_26_53">Wardrobes</a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="index5b8a.html?route=product/category&amp;path=20_26_54">Showcases</a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="index5924.html?route=product/category&amp;path=20_26_55">Settee
                                                                                    Sofa</a></li>
                                                                            <li>
                                                                                <a href="indexde9c.html?route=product/category&amp;path=20_26_56">Shoe
                                                                                    Racks</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>

                                                            </li>
                                                            <!-- 2 Level Sub Categories END -->

                                                        </ul>
                                                        <ul class="list-unstyled childs_1">
                                                            <!-- 2 Level Sub Categories START -->
                                                            <li class="dropdown"><a
                                                                        href="indexdd46.html?route=product/category&amp;path=20_43">Stool</a>

                                                                <div class="dropdown-menu">
                                                                    <div class="dropdown-inner">
                                                                        <ul class="list-unstyled childs_2">
                                                                            <li>
                                                                                <a href="index4639.html?route=product/category&amp;path=20_43_38">Modern
                                                                                    Stool</a></li>
                                                                            <li>
                                                                                <a href="index1668.html?route=product/category&amp;path=20_43_37">Traditional
                                                                                    Stool</a></li>
                                                                            <li>
                                                                                <a href="indexcd26.html?route=product/category&amp;path=20_43_39">Bar
                                                                                    Stool</a></li>
                                                                            <li>
                                                                                <a href="index24a8.html?route=product/category&amp;path=20_43_40">Folding
                                                                                    Stool</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>

                                                            </li>
                                                            <!-- 2 Level Sub Categories END -->

                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="top_level"><a
                                                        href="index7fa3.html?route=product/category&amp;path=18">Travaux</a>
                                            </li>
                                            <li class="top_level dropdown"><a
                                                        href="index1647.html?route=product/category&amp;path=25">Services</a>

                                                <div class="dropdown-menu megamenu column1">
                                                    <div class="dropdown-inner">
                                                        <ul class="list-unstyled childs_1">
                                                            <!-- 2 Level Sub Categories START -->
                                                            <li>
                                                                <a href="index955a.html?route=product/category&amp;path=25_32">Desks</a>
                                                            </li>
                                                            <!-- 2 Level Sub Categories END -->
                                                            <!-- 2 Level Sub Categories START -->
                                                            <li>
                                                                <a href="indexe177.html?route=product/category&amp;path=25_28">Dining
                                                                    Room</a></li>
                                                            <!-- 2 Level Sub Categories END -->
                                                            <!-- 2 Level Sub Categories START -->
                                                            <li>
                                                                <a href="index7496.html?route=product/category&amp;path=25_35">Lux
                                                                    Woods</a></li>
                                                            <!-- 2 Level Sub Categories END -->
                                                            <!-- 2 Level Sub Categories START -->
                                                            <li>
                                                                <a href="index68a7.html?route=product/category&amp;path=25_30">Coffee
                                                                    Tables</a></li>
                                                            <!-- 2 Level Sub Categories END -->
                                                            <!-- 2 Level Sub Categories START -->
                                                            <li>
                                                                <a href="indexf3db.html?route=product/category&amp;path=25_31">Recliner
                                                                    Sofa</a></li>
                                                            <!-- 2 Level Sub Categories END -->

                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="top_level"><a
                                                        href="index70a9.html?route=product/category&amp;path=57">Contact</a>
                                            </li>


                                        </ul>
                                    </div>

                                </div>
                            </div>



                        </nav>

                    </div>


                </div>
            </div>
        </div>

</header>
</div>

<div class="wrap-breadcrumb parallax-breadcrumb">
    <div class="container"></div>
</div>

<!-- ======= Quick view JS ========= -->
<script>

    function quickbox() {
        if ($(window).width() > 767) {
            $('.quickview-button').magnificPopup({
                type: 'iframe',
                delegate: 'a',
                preloader: true,
                tLoading: 'Loading image #%curr%...',
            });
        }
    }

    jQuery(document).ready(function () {
        quickbox();
    });
    jQuery(window).resize(function () {
        quickbox();
    });

</script>
<div class="content-top">
    <div class="container">
        <div class="main-slider">

            <div class="swiper-viewport">
                <div id="slideshow0" class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide text-center"><a href="#"><img
                                        src="image/cache/catalog/main-banner-1-1400x600.jpg" alt="Main Banner1"
                                        class="img-responsive"/></a></div>
                        <div class="swiper-slide text-center"><a href="#"><img
                                        src="image/cache/catalog/main-banner-2-1400x600.jpg" alt="Main Banner2"
                                        class="img-responsive"/></a></div>
                    </div>
                </div>
                <div class="swiper-pagination slideshow0"></div>
                <div class="swiper-pager">
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
        <script type="text/javascript"><!--
            $('#slideshow0').swiper({
                mode: 'horizontal',
                slidesPerView: 1,
                pagination: '.slideshow0',
                paginationClickable: true,
                nextButton: '.swiper-button-next',
                prevButton: '.swiper-button-prev',
                spaceBetween: 0,
                autoplay: 5000,
                effect: 'cubes',
                autoplayDisableOnInteraction: true,
                loop: true
            });
            --></script>

        <script type="text/javascript">
            // Can also be used with $(document).ready()
            $(window).load(function () {
                $("#spinner").fadeOut("slow");
            });
        </script>
        <div id="czcategorylistblock" class="czcategory_listblock">
            <div class="czcategory_block">
                <div class="customNavigation"><a class="btn prev category_prev">&nbsp;</a> <a
                            class="btn next category_next">&nbsp;</a></div>
                <div class="category_lists">
                    <ul id="ourcategory-carousel" class="cz-carousel">
                        <li class="category_item item">
                            <div class="cate_image">
                                <div class="cate-inner"><a href="#"><img src="image/catalog/categorylist-img1.png"
                                                                         class="img-responsive" alt="category-img1.png"></a>
                                </div>
                            </div>
                            <div class="cate-details">
                                <div class="category-heading"><a href="#">Furniture</a></div>
                                <div class="shop-now"><a href="#">Shop Now &gt;&gt;</a></div>
                            </div>
                        </li>
                        <li class="category_item item">
                            <div class="cate_image">
                                <div class="cate-inner"><a href="#"><img src="image/catalog/categorylist-img2.png"
                                                                         class="img-responsive" alt="category-img2.png"></a>
                                </div>
                            </div>
                            <div class="cate-details">
                                <div class="category-heading"><a href="#">Chairs</a></div>
                                <div class="shop-now"><a href="#">Shop Now &gt;&gt;</a></div>
                            </div>
                        </li>
                        <li class="category_item item">
                            <div class="cate_image">
                                <div class="cate-inner"><a href="#"><img src="image/catalog/categorylist-img3.png"
                                                                         class="img-responsive" alt="category-img3.png"></a>
                                </div>
                            </div>
                            <div class="cate-details">
                                <div class="category-heading"><a href="#">Stool</a></div>
                                <div class="shop-now"><a href="#">Shop Now &gt;&gt;</a></div>
                            </div>
                        </li>
                        <li class="category_item item">
                            <div class="cate_image">
                                <div class="cate-inner"><a href="#"><img src="image/catalog/categorylist-img4.png"
                                                                         class="img-responsive" alt="category-img4.png"></a>
                                </div>
                            </div>
                        <li class="top_level"><a href="index7fa3.html?route=product/category&amp;path=18">Bookcases</a></li>
                        <li class="top_level dropdown"><a href="index1647.html?route=product/category&amp;path=25">Armoires</a>

                            <div class="dropdown-menu megamenu column1">
                                <div class="dropdown-inner">
                                    <ul class="list-unstyled childs_1">
                                        <!-- 2 Level Sub Categories START -->
                                        <li><a href="index955a.html?route=product/category&amp;path=25_32">Desks</a></li>
                                        <!-- 2 Level Sub Categories END -->
                                        <!-- 2 Level Sub Categories START -->
                                        <li><a href="indexe177.html?route=product/category&amp;path=25_28">Dining Room</a></li>
                                        <!-- 2 Level Sub Categories END -->
                                        <!-- 2 Level Sub Categories START -->
                                        <li><a href="index7496.html?route=product/category&amp;path=25_35">Lux Woods</a></li>
                                        <!-- 2 Level Sub Categories END -->
                                        <!-- 2 Level Sub Categories START -->
                                        <li><a href="index68a7.html?route=product/category&amp;path=25_30">Coffee Tables</a></li>
                                        <!-- 2 Level Sub Categories END -->
                                        <!-- 2 Level Sub Categories START -->
                                        <li><a href="indexf3db.html?route=product/category&amp;path=25_31">Recliner Sofa</a></li>
                                        <!-- 2 Level Sub Categories END -->

                                    </ul>
                                </div>
                            </div>
                        </li>



                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row home_row">

    <div id="content" class="col-sm-12">
        <div id="czaboutcmsblock" class="about-cms-block">
            <div class="container aboutus-container">
                <div class="about-store">
                    <div class="about-store-inner">
                        <div class="left-part">
                            <div class="about-image">
                                <div class="left-image top">
                                    <div class="leftbanner aboutcms-image1  animation-element slide-left aboutcms"><a
                                                href="#" class="banner-anchor"><img src="image/catalog/aboutcms1.jpg"
                                                                                    alt="about-store1"
                                                                                    title="about-store1"></a></div>
                                    <div class="leftbanner aboutcms-image2  animation-element slide-left aboutcms"><a
                                                href="#" class="banner-anchor"><img src="image/catalog/aboutcms2.jpg"
                                                                                    alt="about-store2"
                                                                                    title="about-store2"></a></div>
                                </div>
                                <div class="left-image bottom">
                                    <div class="leftbanner aboutcms-image3 animation-element slide-left aboutcms"><a
                                                href="#" class="banner-anchor"><img src="image/catalog/aboutcms3.jpg"
                                                                                    alt="about-store3"
                                                                                    title="about-store3"></a></div>
                                    <div class="leftbanner aboutcms-image4 animation-element slide-left aboutcms"><a
                                                href="#" class="banner-anchor"><img src="image/catalog/aboutcms4.jpg"
                                                                                    alt="about-store4"
                                                                                    title="about-store4"></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="right-part">
                            <div class="mainheading">Our Little Story!!</div>
                            <div class="title">Welcome To Store!</div>
                            <div class="storedetail"><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                                <br>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s Lorem
                                Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                been the industry's standard...
                            </div>
                            <div class="shop now"><a class="shop-now" href="#">Read More</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hometab box">
            <div class="container">
                <div class="tab-head">
                    <div class="hometab-heading box-heading">New Products</div>
                    <div id="tabs" class="htabs">
                        <ul class='etabs'>
                            <li class='tab'>
                                <a href="#tab-latest">New Arrival</a>
                            </li>
                            <li class='tab'>
                                <a href="#tab-bestseller">Bestseller</a>
                            </li>
                            <li class='tab'>
                                <a href="#tab-special">Special</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{{ encore_entry_script_tags('app') }}
{{ encore_entry_script_tags('boostrap') }}
{{ encore_entry_script_tags('swiper') }}
</body>
</html>